DEBUG=true

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=trading_workspace
POSTGRES_USER=trading
POSTGRES_PASSWORD=trading

MARKET_TIMEZONE=America/New_York

CORS_ALLOW_ORIGINS=["http://localhost:5173"]
